.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(5, 141, 168);
    color: whitesmoke;
    flex-direction: column;
  }
  .main-header{
    font-family: 'Montserrat', sans-serif;
  }
  .create-form label{
    color: whitesmoke !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
  }
  table, th {
    border: 1px solid;
    background-color:rgb(234, 234, 243);
    color: #00b5af !important;
  }
  td{
    border: 1px solid;
    color: black;
  }
  button{
    color: #00b5af !important;
    font-size: 20px;
    width: auto;
    height: auto;
  }
  csv-link{
    color: #00b5af !important;
    font-size: 20px;
    width: auto;
    height: auto;
  }